# Import core types
from typing import Literal
from pydantic import Field

from ucl_open.core.base import BaseSchema
from ucl_open.core.task import TaskParameters

from {{ python_folder_name }} import __semver__


class {{ python_class_prefix }}TaskParameters(TaskParameters):
    ...


class {{ python_class_prefix }}TaskLogic(BaseSchema):
    version: Literal[__semver__] = __semver__
    name: Literal["{{ python_class_prefix }}"] = Field(default="{{ python_class_prefix }}", description="Name of the task logic", frozen=True)
    task_parameters: {{ python_class_prefix }}TaskParameters = Field(description="Parameters of the task logic")
    ...